<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sistema de cadastro de 
    projetos integradores</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <h1>Alteração de projeto integrador</h1>
    <form action=alterar2 method=post>
        Título: <input type=text name=titulo 
        value="{{pi.titulo}}"><br/>
        Descrição: 
        <textarea 
        name=descricao>{{pi.descricao}}</textarea>
        <br/>URL: <input type=text 
        name=url value="{{pi.url}}">
        </br>
        Alunos:
        <select name=aluno>
            {% for alu in alunos %}
            <option value={{alu.id}}
            {% if alu.id == pi.alunos[0].id %}
              selected
            {% endif %}
            > {{alu.nome}}</option>
            {% endfor %}
        </select>
        <br/>
        Orientadores:
        <select name=docente>
            {% for doc in docentes %}
            <option value={{doc.id}}
            {% if doc.id == pi.docentes[0].id %}
              selected
            {% endif %}
            > {{doc.nome}}</option>
            {% endfor %}
        </select>
        <br/>
        <input type=submit 
        value="Salvar alterações">
        <input type=hidden name=id_pi value={{pi.id}}>
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>